header{
background: white;
height: 70px;
width: 100%;
border-bottom: 1px solid #CCCCCC;
}

header .logo{
   margin-left: 20px; 
   height:70px;
   background-repeat: no-repeat;
   background-image: url("images/logo.png");
}
