section.filters{
display: flex;
height: 70px;
width: 100%;
border: 1px solid #DDDDDD;
border-radius: 4px;
justify-content: space-between;
align-items: center;

}
.search-btn{
    font-size: 18px;
    background: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin: auto 30px;
    opacity: 90%;
    
   
}
section.filters h3{
  font-weight: 600;  
}
section.filters h4{
    font-weight: 400;  
    font-size: 14px;
  }
.locations{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
    height: 100%;
    width: 25%;
    margin-left: 30px;
    align-self: center;
    border-right: 1px #DDDDDD solid;
}
.amenities{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
    height: 100%;
    width: 25%;
}


.popover{
 display: none;
 width: 100%;
 color: #111;
 border: 1px #DDDDDD solid;
 flex-direction: column;
 justify-content: flex-start;
 align-content: flex-start;
 padding: 20px;
 margin-top: 35px;

}
.popover.locations{

  height: 200px;
}
.popover li{
list-style: none;
}

.locations:hover  .popover.locations{
  display: block;
}

.amenities:hover  .popover.amenities{
  display: block;
}


